<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pawsties.android">

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.microphone"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.fingerprint"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pawsties">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SigninActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullUser" />
        <activity
            android:name=".ChatActivivty"
            android:exported="true"
            android:screenOrientation="locked" />
        <activity
            android:name=".AddPetActivity"
            android:exported="true"
            android:screenOrientation="locked"/>
        <activity
            android:name=".EditProfileActivity"
            android:exported="true"
            android:screenOrientation="locked"/>
    </application>

</manifest>